/* 默认浅色模式 */
body {
    background-color: white !important;
    color: black !important;
}

/* 深色模式 */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black !important;
        color: white !important;
    }

    /* 强制应用主题 */
    [data-theme="dark"] {
        background-color: black !important;
        color: white !important;
    }

    [data-theme="light"] {
        background-color: white !important;
        color: black !important;
    }
}